[Unit]
Description=UDEGEN Telegram Leverage Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
[Service]
WorkingDirectory=/opt/udegen_tglevbot/TGLevBot
ExecStart=/opt/udegen_tglevbot/venv/bin/python /opt/udegen_tglevbot/TGLevBot/main.py
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target